body {
  font-family: "Montserrat";
  font-size: 18px;
  color: #2d2d2d;
padding: 150px 50px 50px 50px}

p {
  padding: 5px 5px 5px 5px;
}

h1
{font-size: 24px;}
h2
{font-size: 22px;
  font-weight: 700;}



