body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: #2d2d2d;
padding: 50px 30px 50px 30px}

p {
  padding: 5px 5px 5px 5px;
}

h1
{font-size: 30px;
color: #9E9A9C;
}
h2
{font-size: 28px;
  color: #9E9A9C;}

  .aboutflex
  {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
  align-items: left;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 20px;
}
.aboutflex img
{width: 100%;
max-width: 300px;
height:300px;
object-fit:cover;}

.aboutflex p
{
  width: 100%;
  max-width: 300px;
  word-wrap: normal;
}



