body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #2d2d2d;
  padding: 50px 30px 50px 30px}
  ul {
    list-style: none;
  }
  .menu {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;


  }

  .item {
    padding: 0 10px 0 10px;
  }
  .menuitem
  {
    color: #b39f0c;
    text-decoration: none;}

    .menuitem:hover {
        color:#b30c8c;
    }