body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: #2d2d2d;
padding: 50px 30px 50px 30px}

p {
  padding: 5px 5px 5px 5px;
}

h1
{font-size: 30px;
color: #9E9A9C;
}
h2
{font-size: 28px;
  color: #9E9A9C;}



